<div class="container">
  <div class="movie-details">
    <div class="card-body">
      <h4 class="card-title">{{ movie.title }}</h4>
      <p class="badge badge-pill badge-danger">{{movie.genre}}</p>
      <p class="card-text"> Directed By: {{ movie.director }}</p>
      <p class="card-text">Release: {{movie.year | date : 'yyyy'}}</p>
      <p class="card-text">Serial Number:{{ movie.serialNumber }}</p>
      <p class="card-text">runtime: {{movie.runtime}}</p>
      <div class="album-detail-btn-group">
        <button class="btn btn-outline-warning" (click)="openModal(content)">edit</button>
        <button class="btn btn-outline-dark" (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal template -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Movie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-movie-edit #editRef (close)="onCloseModal($event)"></app-movie-edit>
  </div>
  <div class="modal-footer">
    <button class=" btn btn-warning btn-save" (click)="editRef.onUpdateMovie()"
      (click)="modal.close('Save click')">Update</button>
    <!-- <button class=" btn btn-outline-danger btn-delete" (click)="editRef.onDelete()" (click)="modal.close('Save click')" -->
    <button class=" btn btn-outline-danger btn-delete" (click)="modal.close('Save click')"
      (click)="openDeleteModal(deleteContent)">delete</button>
  </div>
</ng-template>

<!-- Delete Modal template -->

<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Deletion! </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong id="confirm-deletion">
      Are you sure you want to delete? </strong>

  </div>
  <div class="modal-footer">
    <button class=" btn btn-danger btn-delete" (click)="onDelete()" (click)="modal.close('Save click')">Delete</button>
    <button class=" btn btn-outline-dark btn-save" (click)="modal.close('Save click')">cancel</button>
  </div>
</ng-template>