<div class="container">
  <div class="movie-details">
    <div class="card-body">
      <h4 class="card-title">{{ movie.title }}</h4>
      <p class="badge badge-pill badge-danger">{{movie.genre}}</p>
      <p class="card-text"> Directed By: {{ movie.director }}</p>
      <p class="card-text">Release: {{movie.year | date : 'yyyy'}}</p>
      <p class="card-text">Serial Number:{{ movie.serialNumber }}</p>
      <p class="card-text">runtime: {{movie.runtime}}</p>
      <div class="album-detail-btn-group">
        <button class="btn btn-outline-warning">edit</button>
        <button class="btn btn-outline-danger">delete</button>
        <button class="btn btn-outline-dark">Close</button>
      </div>
    </div>
  </div>
</div>