.container {
    border: 1px solid black;
    border-radius: 3px;
}

.movie-details {
    margin: 1rem;
    height: 290px;
    width: 100%;
    cursor: pointer;
}

.album-detail-btn-group {
    display: flex;
}

.album-detail-btn-group {
    display: flex;
    justify-content: flex-end;
}

.btn {
    margin-left: 0.5rem;
}

#confirm-deletion {
    text-align: center;
}