<div class="container">
  <div class="movie-details">
    <div class="card-body">
      <form [formGroup]="editMovieForm" (ngSubmit)="onSubmit()">

        <!-- <div class="form-group">
          <label for="albumName">Album Name:</label>
          <input type="text" formControlName="albumName" class="form-control" id="albumName" name="albumName"
            aria-describedby="albumName">
          <span class="errorMsg"
            *ngIf="!editMovieForm.get('albumName').valid && editMovieForm.get('albumName').touched">This
            name is invalid!</span>

        </div> -->
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" formControlName="title" class="form-control" id="title" name="title"
            aria-describedby="title">
          <span class="errorMsg" *ngIf="!editMovieForm.get('title').valid && editMovieForm.get('title').touched">This
            name is invalid!</span>
        </div>
        <div class="form-group">
          <label for="director"> Director</label>
          <input type="text" formControlName="director" class="form-control" id="director" name="director"
            aria-describedby="director">
          <span class="errorMsg"
            *ngIf="!editMovieForm.get('director').valid && editMovieForm.get('director').touched">This
            name is invalid!</span>
        </div>

        <div class="form-group">
          <label for="year">Release Year:</label>
          <input type="date" formControlName="year" class="form-control" placeholder="{{ movie.year }}" id=" year"
            name="year" aria-describedby="year">
          <span class="errorMsg" *ngIf="!editMovieForm.get('year').valid && editMovieForm.get('year').touched">This
            name is invalid!</span>
        </div>
        <div class="form-group">
          <label for="runtime">Runtime (Min):</label>
          <input type="number" formControlName="runtime" class="form-control" id="runtime" name="runtime"
            aria-describedby="runtime">
          <span class="errorMsg"
            *ngIf="!editMovieForm.get('runtime').valid && editMovieForm.get('runtime').touched">This
            name is invalid!</span>
        </div>
        <div class="form-group">
          <label for="genre"> Genres:</label>
          <input type="text" formControlName="genre" class="form-control" id="genre" name="genre"
            aria-describedby="genre">
          <span class="errorMsg" *ngIf="!editMovieForm.get('genre').valid && editMovieForm.get('genre').touched">This
            name is invalid!</span>
        </div>
        <div class="form-group">
          <input type="hidden" formControlName="serialNumber" class="form-control" id="serialNumber"
            value="serialNumber" name="serialNumber" aria-describedby="serialNumber">
        </div>
        <!--   <div class="form-group">
          <label for="serialNumber">Movie serialNumber:</label>
          <p>#{{movie.serialNumber}}</p>
        </div> -->
      </form>
      <button class=" btn btn-warning btn-save" (click)="onUpdateMovie()">Save</button>
      <button class=" btn btn-outline-danger btn-delete" (click)="onDelete()">delete</button>
    </div>
  </div>
</div>